extends layout

block content
	h1= title
	p Welcome to #{title}
	br
	br
	form(action="/uploadFile", method="POST", enctype="multipart/form-data")
		input(type="file", name="dataFile")
		input(type="submit", value="Upload")

