extends layout
block content
	h1 File Processed!
	p
		| Click <a href="/download/#{token}?name=#{sheetName}">here</a> to download the processed file!
	p
		| Otherwise, click <a href="/">here</a> to start over or process a different file.
